/*translate(left, top)*/
/* p:hover{
     transform: translate(150px, 0px);
} */

p {
    border: 2px solid black;
    height: 100px;width: 100px;
    margin: 100px;
}

p:hover{
    /* transform: scaleX(2); */
    /* transform: scaleY(2); */
    /* transform: scale(0.5); */

    /* transform: rotate(30deg); */

    transform: skewY(20deg);
}